/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#index-body {
    background-color: #26001b;
  }

  #navbar,ul li a {
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;

    
  }

  #hobbies-body {
    background-color: #dbe6fd;
  }

  #contact-body {
    background-color: #a7c4bc;
  }

  .body-div {
    background-color: #1cc5dc;
  }

  .books-div {
    background-color: #77acf1;
    //padding-left: 40px;
  }

  .books-div h3 {
    display: flex;
    justify-content: center;
    padding: 0 40px;
  }

  .books-div .table-row td {
    justify-content: center;
    padding: 0 40px;
  }

  #main-image {
    border-radius: 50%;
    width: 200px;
  }

  #car-image {
    border-radius: 25%;
    margin-top: 10px;
    width: 200px;
  }

  h1, h3 {
      color: #2940d3;
  }

  

  .work-div {
    display: flex;
    background-color: #fea82f;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
        
  }

  .work-div .work-work {
   display: flex;
   padding-left: 40px;
  }


  .skills-div  {
    background-color: #78c4d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hr1, .hr2 {
    background-color: green;
    border-style: none;
    height: 5px;
         
  }

  .hr3, .hr4 {
    border-color: white;
    border-style:none;
    border-top: dotted;
    border-top-width: 5px;     
    width: 2.5%;            
  }

  .contact_me a {
    color: #fff;
    padding-left: 10px;
  }

  #hobbies-body .a-tag {
    background-color: #333;
    display: inline-flex;
    padding: 10px;
    margin-left: 20px;
    border-radius: 15%;
    text-decoration: none;
    color: #fff;
    
  }

  .a-tag:hover{
    opacity: 0.6;
  }

  #hobbies-body h3 {
    background: #fea82f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  #hobbies-body .ordered-list .list-item1 {
    display: inline-flex;
    flex-direction: row;
    width: 400px;
    margin-left: 270px;
    padding: 5px 0;

  }
  #hobbies-body .ordered-list .list-item2 {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    
  }

  #hobbies-body .ordered-list p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }

  #hobbies-body .ordered-list a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: cornflowerblue;
  }

  #hobbies-body .ordered-list a:hover{
    background-color: chocolate;
    color: #fff;
    font-size: 1.3rem;
  }
  

  .footer, .foot-p {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0;
    margin: 10px 0;
  }
  
  .footer, .foot-h {
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    margin-top: 3px;
  }
  
  .footer, .foot-hc {
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-top: 3px;
  }